<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.StartSessionServlet</servlet-class>
        <init-param>
            <description>Computer name</description>
            <param-name>computerName</param-name>
            <param-value>Siri</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GenderServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.GenderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamSupportedServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.TeamSupportedServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSessionServlet</servlet-name>
        <servlet-class>za.ac.tut.controller.EndSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSessionServlet</servlet-name>
        <url-pattern>/StartSessionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenderServlet</servlet-name>
        <url-pattern>/GenderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamSupportedServlet</servlet-name>
        <url-pattern>/TeamSupportedServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSessionServlet</servlet-name>
        <url-pattern>/EndSessionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
